.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialogBody {
  position: relative;
  width: 501px;
  height: 503px;
}

.border {
  background: url(./assets/boder.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.video {
  width: calc(100% - 15px - 40px);
  height: calc(100% - 30px - 50px);
  background-color: #000;
  margin: 30px 40px 40px 15px;
}